body { background: #c4b7d9; margin: 0; font-family: sans-serif; }
.secure-terminal { padding: 32px; display: flex; }
.block-product-0 { color: #f16ec8; font-size: 15px; margin-bottom: 5px; }
.block-payment-1 { color: #bd02f1; font-size: 12px; margin-bottom: 5px; }
.block-token-2 { color: #8e93a9; font-size: 20px; margin-bottom: 5px; }
.block-filter-3 { color: #f4b756; font-size: 18px; margin-bottom: 5px; }
.block-cart-4 { color: #b686bf; font-size: 18px; margin-bottom: 5px; }